flask==3.0.3
flask-login==0.6.3
opencv-python==4.10.0.84
tensorflow==2.17.0  
pillow==10.4.0  
numpy==1.26.4
werkzeug==3.0.4  
flask-sqlalchemy==3.0.2
flask-migrate==4.0.4
psycopg2-binary==2.9.6
gunicorn==22.1.0
python-dotenv==1.0.0