flask==3.0.3
flask-login==0.6.3
pillow==10.4.0
numpy==1.26.4
werkzeug==3.0.4
flask-sqlalchemy==3.0.2
flask-migrate==4.0.4
psycopg2-binary==2.9.9
google-generativeai==0.7.1
gunicorn==22.0.0
gevent==24.2.1
requests==2.32.3